.loader{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px dashed #0b5ed7;
    animation: rotate 1s infinite linear;
}
.div_loader{
    display: flex;
    justify-content: center;
}

@keyframes rotate {
    from{
        transform: rotate(0deg) scale(1);
    }
    to{
        transform: rotate(360deg) scale(1.4);
    }
}