.loader{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 3px dashed #5b5ab8;
    animation: rotate 1s infinite linear;
}
.div_loader{
    /*display: flex;*/
    display: inline-block;
    margin-left: 40%;
    margin-top: 10%;
}

@keyframes rotate {
    from{
        transform: rotate(0deg) scale(1);
    }
    to{
        transform: rotate(360deg) scale(1.2);
    }
}