/*MAIN*/
main{
    margin-top: 3%;
    grid-area: main;
    /*background-color: bisque;*/
    display: flex;
    justify-content: space-between;
}
.mainPage{
    height: 700px;

}
main div{
    flex: 1;
}
main .rightSide{

    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("./../../img/BASEwithout.png");
    width: 800px;
    margin-right: -30%;

}
main .leftSide {
    padding-top: 10%;
}
.leftSideMsg p{
    color:#6a6691;
}
.leftSideMsg h2{
    color:#fa676d;
}
.leftSideMsg h2 span{
    color:#2d2c62;
}

