

.blogPage{
    /*display: flex;*/
    /*justify-content: center;*/
    width: 80%;
    /*margin-left: 10%;*/
    margin: 0 auto;

}
.blogInput{
    border: 2px solid #5b5ab8;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
}
.postsDiv{
    margin-top: 20px;
    width: 100%;
    font-size: 18px;
}
.postItemDiv {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #5b5ab8;
    border-radius: 5px;
    padding: 3px;
    background-color: rgba(255,255,255,1);

}
.postsDiv a{
    color: black;
    text-decoration: none;
}